<div class="container">
    <div class="slider">
        <div class="grid wide">
            <div class="slider__content">
                <div class="row no-gutters">
                    <div class="col l-8">
                        <a href="" class="slider__main-content">
                            <img src="/img/slider-main.jpg" alt="" class="slider__main-content-img">
                        </a>
                    </div>
                    <div class="col l-4">
                        <div class="slider__sub-content">
                            <a href="" class="slider__sub-content-link">
                                <img src="/img/slider-sub1.jpg" alt="" class="slider__sub-content-img">
                            </a>
                            <a href="" class="slider__sub-content-link">
                                <img src="/img/slider-sub2.jpg" alt="" class="slider__sub-content-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l-12">
                        <ul class="slider-list">
                            <li class="slider-item">
                                <a href="" class="slider-item__link">
                                    <img src="/img/slider-item1.jpg" alt="" class="slider-item__link-img">
                                    <p class="slider-item__link-text">Miễn Phí Ship</p>
                                </a>
                            </li>
                            <li class="slider-item">
                                <a href="" class="slider-item__link">
                                    <img src="/img/slider-item2.jpg" alt="" class="slider-item__link-img">
                                    <p class="slider-item__link-text">Voucher Giảm Đến 500.000Đ</p>
                                </a>
                            </li>
                            <li class="slider-item">
                                <a href="" class="slider-item__link">
                                    <img src="/img/slider-item3.png" alt="" class="slider-item__link-img">
                                    <p class="slider-item__link-text">Hàng Hiệu Outlet Giảm 50%</p>
                                </a>
                            </li>
                            <li class="slider-item">
                                <a href="" class="slider-item__link">
                                    <img src="/img/slider-item4.png" alt="" class="slider-item__link-img">
                                    <p class="slider-item__link-text">Mã Giảm Giá</p>
                                </a>
                            </li>
                            <li class="slider-item">
                                <a href="" class="slider-item__link">
                                    <img src="/img/slider-item5.jpg" alt="" class="slider-item__link-img">
                                    <p class="slider-item__link-text">Gì Cũng Rẻ - Deal Sốc 9.000Đ</p>
                                </a>
                            </li>
                            <li class="slider-item">
                                <a href="" class="slider-item__link">
                                    <img src="/img/slider-item6.jpg" alt="" class="slider-item__link-img">
                                    <p class="slider-item__link-text">Nạp Thẻ, Dịch Vụ & Khách Sạn</p>
                                </a>
                            </li>
                            <li class="slider-item">
                                <a href="" class="slider-item__link">
                                    <img src="/img/slider-item7.jpg" alt="" class="slider-item__link-img">
                                    <p class="slider-item__link-text">Hàng Quốc Tế</p>
                                </a>
                            </li>
                            <li class="slider-item">
                                <a href="" class="slider-item__link">
                                    <img src="/img/slider-item8.jpg" alt="" class="slider-item__link-img">
                                    <p class="slider-item__link-text">Bắt Trend - Giá Sốc</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="direction">
        <div class="grid wide">
            <div class="directory-content">
                <div class="directory-form">
                    <h4 class="directory-form__header">DANH MỤC</h4>
                </div>
                <div class="row no-gutters">
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory1.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Thời Trang Nam</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory2.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Điện Thoại & Phụ Kiện</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory3.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Thiết Bị Điện Tử</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory4.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Máy Tính & Laptop</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory5.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Máy Ảnh & Máy Quay Phim</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory6.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Đồng Hồ</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory7.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Giày Dép Nam</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory8.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Thiết Bị Điện Gia Dụng</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory9.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Thể Thao & Du Lịch</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory10.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Ô Tô & Xe Máy & Xe Đạp</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory11.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Thời Trang Nữ</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory12.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Mẹ & Bé</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory13.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Nhà Cửa & Đời Sống</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory14.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Sắc Đẹp</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory15.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Sức Khỏe</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory16.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Giày Dép Nữ</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory17.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Túi Ví Nữ</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory18.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Phụ Kiện & Trang Sức Nữ</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory19.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Bách Hóa Online</p>
                        </div>
                    </a>
                    <a href="" class="col l-1-2 directory-form__link">
                        <div class="product-form">    
                            <div class="directory__product">
                                <img src="/img/Directory_img/directory20.png" alt="" class="directory-form-img">
                            </div>
                            <p class="directory-form-name">Nhà Sách Online</p>
                        </div>
                    </a>
                </div>
                <div class="product-form__arrow">
                    <i class="product-arrow-but fa-solid fa-angle-right"></i>
                </div>
            </div>
        </div> 
    </div>

    <div class="flash-sale">
        <div class="grid wide">
            <div class="flash-sale__content">

            </div>
        </div>
    </div>

    <div class="banners">
        <div class="grid wide">
            <div class="row no-gutters">
                <div class="col l-4">
                    <div class="banners__item">
                        <a href="" class="banners__item-link">
                            <img src="/img/Banners-img/banner1.jpg" alt="" class="banners__item-img">
                            <div class="banners__item-arrow">
                                <i class="banners__item-but fa-solid fa-angle-right"></i>
                            </div>
                        </a>
                        
                    </div>
                </div>
                <div class="col l-4">
                    <div class="banners__item">
                        <a href="" class="banners__item-link">
                            <img src="/img/Banners-img/banner2.jpg" alt="" class="banners__item-img">
                            <div class="banners__item-arrow">
                                <i class="banners__item-but fa-solid fa-angle-right"></i>
                            </div>
                        </a>
                        
                    </div>
                </div>
                <div class="col l-4">
                    <div class="banners__item">
                        <a href="" class="banners__item-link">
                            <img src="/img/Banners-img/banner3.png" alt="" class="banners__item-img">
                            <div class="banners__item-arrow">
                                <i class="banners__item-but fa-solid fa-angle-right"></i>
                            </div>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shopee-mall">
        <div class="grid wide">
            <div class="shopee-mall__header">
                <ul class="shopee-mall__header-list">
                    <li class="shopee-mall__header-item">
                        <a href="" class="shopee-mall__header-item-link">SHOP MALL</a>
                    </li>
                    <img src="/img/ShopeeMall_img/mall_icon1.png" alt="" class="shopee-mall__header-item-return">
                    <li class="shopee-mall__header-item"> 7 Ngày Miễn Phí Trả Hàng </li>
                    <img src="/img/ShopeeMall_img/mall_icon2.png" alt="" class="shopee-mall__header-item-shield">
                    <li class="shopee-mall__header-item"> Hàng Chính Hãng 100% </li>
                    <img src="/img/ShopeeMall_img/mall_icon3.png" alt="" class="shopee-mall__header-item-car">
                    <li class="shopee-mall__header-item"> Miễn Phí Vận Chuyển </li>
                </ul>
                <a href="" class="shopee-mall__header-link">
                    Xem Tất Cả
                    <div class="shopee-mall__header-link-btn">
                        <i class="shopee-mall__header-link-arrow fa-solid fa-angle-right"></i>
                    </div>
                </a>
            </div>
            <div class="shopee-mall__body">
                <div class="row no-gutters">
                    <div class="col l-4">
                        <a href="" class="shopee-mall__body-slide">
                            <img src="/img/ShopeeMall_img/mall1.jpg" alt="" class="shopee-mall__body-img">
                        </a>
                    </div>
                    <div class="col l-8">
                        <div class="row no-gutters shopee-mall__body-items">
                            <div class="col l-2-8 shopee-mall__body-content">
                                <a href="" class="shopee-mall__body-item">
                                    <img src="/img/ShopeeMall_img/body_item1_1.png" alt="" class="shopee-mall__body-item-img">
                                    <div class="shopee-mall__body-item-logo">
                                        <img src="/img/ShopeeMall_img/body_item1.png" alt="" class="shopee-mall__body-item-logo-img">
                                    </div>
                                </a>
                                <p class="shopee-mall__body-items-text">Mua là có quà</p>
                            </div>
                            <div class="col l-2-8 shopee-mall__body-content">
                                <a href="" class="shopee-mall__body-item">
                                    <img src="/img/ShopeeMall_img/body_item2_2.png" alt="" class="shopee-mall__body-item-img">
                                    <div class="shopee-mall__body-item-logo">
                                        <img src="/img/ShopeeMall_img/body_item2.jpg" alt="" class="shopee-mall__body-item-logo-img">
                                    </div>
                                </a>
                                <p class="shopee-mall__body-items-text">Deli siêu sale</p>
                            </div>
                            <div class="col l-2-8 shopee-mall__body-content">
                                <a href="" class="shopee-mall__body-item">
                                    <img src="/img/ShopeeMall_img/body_item3_3.png" alt="" class="shopee-mall__body-item-img">
                                    <div class="shopee-mall__body-item-logo">
                                        <img src="/img/ShopeeMall_img/body_item3.png" alt="" class="shopee-mall__body-item-logo-img">
                                    </div>
                                </a>
                                <p class="shopee-mall__body-items-text">Quà mọi nơi</p>
                            </div>
                            <div class="col l-2-8 shopee-mall__body-content">
                                <a href="" class="shopee-mall__body-item">
                                    <img src="/img/ShopeeMall_img/body_item4_4.png" alt="" class="shopee-mall__body-item-img">
                                    <div class="shopee-mall__body-item-logo">
                                        <img src="/img/ShopeeMall_img/body_item4.png" alt="" class="shopee-mall__body-item-logo-img">
                                    </div>
                                </a>
                                <p class="shopee-mall__body-items-text">Ưu đãi đến 50%</p>
                            </div>
                            <div class="col l-2-8 shopee-mall__body-content">
                                <a href="" class="shopee-mall__body-item">
                                    <img src="/img/ShopeeMall_img/body_item5_5.png" alt="" class="shopee-mall__body-item-img">
                                    <div class="shopee-mall__body-item-logo">
                                        <img src="/img/ShopeeMall_img/body_item5.png" alt="" class="shopee-mall__body-item-logo-img">
                                    </div>
                                </a>
                                <p class="shopee-mall__body-items-text">Mua là có quà</p>
                            </div>
                            <div class="col l-2-8 shopee-mall__body-content">
                                <a href="" class="shopee-mall__body-item">
                                    <img src="/img/ShopeeMall_img/body_item6_6.png" alt="" class="shopee-mall__body-item-img">
                                    <div class="shopee-mall__body-item-logo">
                                        <img src="/img/ShopeeMall_img/body_item6.png" alt="" class="shopee-mall__body-item-logo-img">
                                    </div>
                                </a>
                                <p class="shopee-mall__body-items-text">Giảm đến 50%</p>
                            </div>
                            <div class="col l-2-8 shopee-mall__body-content">
                                <a href="" class="shopee-mall__body-item">
                                    <img src="/img/ShopeeMall_img/body_item7_7.png" alt="" class="shopee-mall__body-item-img">
                                    <div class="shopee-mall__body-item-logo">
                                        <img src="/img/ShopeeMall_img/body_item7.png" alt="" class="shopee-mall__body-item-logo-img">
                                    </div>
                                </a>
                                <p class="shopee-mall__body-items-text">Mua 1 tặng 1</p>
                            </div>
                            <div class="col l-2-8 shopee-mall__body-content">
                                <a href="" class="shopee-mall__body-item">
                                    <img src="/img/ShopeeMall_img/body_item8_8.png" alt="" class="shopee-mall__body-item-img">
                                    <div class="shopee-mall__body-item-logo">
                                        <img src="/img/ShopeeMall_img/body_item8.jpg" alt="" class="shopee-mall__body-item-logo-img">
                                    </div>
                                </a>
                                <p class="shopee-mall__body-items-text">Voucher 100k</p>
                            </div>
                            <div class="shopee-mall__arrow">
                                <i class="shopee-mall__arrow-but fa-solid fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-search">
        <div class="grid wide">
            <div class="top-search__header">
                <ul class="top-search__header-list">
                    <li class="top-search__header-list-item">
                        TÌM KIẾM HÀNG ĐẦU
                    </li>
                    <li class="top-search__header-list-item">
                        <a href="" class="top-search__header-list-item-link">
                            Xem tất cả <i class="top-search__header-arrow fa-solid fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="top-search__body">
                <div class="row top-search__body-content">
                    <div class="col l-2">
                        <a href="" class="top-search__body-link">
                            <div class="top-search__body-link-content">
                                <div class="top-search__body-link-content--box">
                                    <img src="/img/Top_Search/top-search1.jpg" alt="" class="top-search__body-link-img">
                                    <div class="top-search__body-link--top-but">
                                        <div class="top-search__body-link--top-but-content">TOP</div>
                                        <div class="top-search__body-link--top-but-arrow"></div>
                                    </div>
                                </div>                                        
                                <div class="top-search__body-sub">
                                    <p class="top-search__body-sub-text">
                                        Bán 150k+ / tháng
                                    </p>
                                </div>
                            </div>
                            <p class="top-search__body-link-text">Balo Thời Trang</p>
                        </a>
                    </div>
                    <div class="col l-2">
                        <a href="" class="top-search__body-link">
                                <div class="top-search__body-link-content">
                                <div class="top-search__body-link-content--box">
                                    <img src="/img/Top_Search/top-search2.png" alt="" class="top-search__body-link-img">
                                    <div class="top-search__body-link--top-but">
                                        <div class="top-search__body-link--top-but-content">TOP</div>
                                        <div class="top-search__body-link--top-but-arrow"></div>
                                    </div>
                                </div>
                                <div class="top-search__body-sub">
                                    <p class="top-search__body-sub-text">
                                        Bán 150k+ / tháng
                                    </p>
                                </div>
                            </div>
                            <p class="top-search__body-link-text">Áo Thun Local Brand</p>
                        </a>
                    </div>
                    <div class="col l-2">
                        <a href="" class="top-search__body-link">
                                <div class="top-search__body-link-content">
                                <div class="top-search__body-link-content--box">
                                    <img src="/img/Top_Search/top-search3.png" alt="" class="top-search__body-link-img">
                                    <div class="top-search__body-link--top-but">
                                        <div class="top-search__body-link--top-but-content">TOP</div>
                                        <div class="top-search__body-link--top-but-arrow"></div>
                                    </div>
                                </div>
                                <div class="top-search__body-sub">
                                    <p class="top-search__body-sub-text">
                                        Bán 150k+ / tháng
                                    </p>
                                </div>
                            </div>
                            <p class="top-search__body-link-text">Thảm</p>
                        </a>
                    </div>
                    <div class="col l-2">
                        <a href="" class="top-search__body-link">
                                <div class="top-search__body-link-content">
                                <div class="top-search__body-link-content--box">
                                    <img src="/img/Top_Search/top-search4.png" alt="" class="top-search__body-link-img">
                                    <div class="top-search__body-link--top-but">
                                        <div class="top-search__body-link--top-but-content">TOP</div>
                                        <div class="top-search__body-link--top-but-arrow"></div>
                                    </div>
                                </div>
                                <div class="top-search__body-sub">
                                    <p class="top-search__body-sub-text">
                                        Bán 150k+ / tháng
                                    </p>
                                </div>
                            </div>
                            <p class="top-search__body-link-text">Dây Nhảy Thể Dục</p>
                        </a>
                    </div>
                    <div class="col l-2">
                        <a href="" class="top-search__body-link">
                                <div class="top-search__body-link-content">
                                <div class="top-search__body-link-content--box">
                                    <img src="/img/Top_Search/top-search5.png" alt="" class="top-search__body-link-img">
                                    <div class="top-search__body-link--top-but">
                                        <div class="top-search__body-link--top-but-content">TOP</div>
                                        <div class="top-search__body-link--top-but-arrow"></div>
                                    </div>
                                </div>
                                <div class="top-search__body-sub">
                                    <p class="top-search__body-sub-text">
                                        Bán 150k+ / tháng
                                    </p>
                                </div>
                            </div>
                            <p class="top-search__body-link-text">Vòng Tay</p>
                        </a>
                    </div>
                    <div class="col l-2">
                        <a href="" class="top-search__body-link">
                                <div class="top-search__body-link-content">
                                <div class="top-search__body-link-content--box">
                                    <img src="/img/Top_Search/top-search6.png" alt="" class="top-search__body-link-img">
                                    <div class="top-search__body-link--top-but">
                                        <div class="top-search__body-link--top-but-content">TOP</div>
                                        <div class="top-search__body-link--top-but-arrow"></div>
                                    </div>
                                </div>
                                <div class="top-search__body-sub">
                                    <p class="top-search__body-sub-text">
                                        Bán 150k+ / tháng
                                    </p>
                                </div>
                            </div>
                            <p class="top-search__body-link-text">Hộp Vải Đựng Đồ Đa Năng</p>
                        </a>
                    </div>
                    <div class="top-search__arrow">
                        <i class="top-search__arrow-but fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="suggest-day">
        <div class="grid wide">
            <div class="suggest-day__header">
                <a href="" class="suggest-day__header-text">GỢI Ý HÔM NAY</a>
            </div>

            <div class="suggest-day__body">
                <div class="row">
                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>    
                    
                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>

                    <div class="col l-2 suggest-day__body-content-item">
                        <a href="" class="suggest-day__body-link">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/329135/iphone-16-blue-600x600.png" alt="" class="suggest-day__body-link-img">
                            <div class="suggest-day__body-link-info">
                                <p class="suggest-day__body-link-text">iPhone 16 128GB (VN/A) | Chính hãng, giảm đến 15% phụ kiện khác</p>
                                <div class="suggest-day__body-link-footer">
                                    <ul class="suggest-day__body-link-footer-list">
                                        <li class="suggest-day__body-link-footer-price">19.970.000₫</li>
                                        <li class="suggest-day__body-link-footer-sold">Đã bán 1.2k</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="suggest-day__body-link-info--sticker">
                                <p class="suggest-day__body-link-info--sticker-text">Yêu Thích</p>
                            </div>                                    
                            <div class="suggest-day__body-link-info--sale-sticker">
                                <p class="suggest-day__body-link-info--sale-stiker-text">-13%</p>
                            </div>
                            <a href="" class="suggest-day__body-search-similar">
                                <div class="suggest-day__body-search-similar-content">
                                    <p class="suggest-day__body-search-similar-text">Tìm sản phẩm tương tự</p>
                                </div>
                            </a>                                    
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="more">
        <a href="" class="more__link">Xem Thêm</a>
    </div>
</div>

<!-- Modal -->
<div class="modal__overlay"></div> 
    <!-- Register Form -->
    <div class="grid log__in-abs drift-register">
        <div class="row no-gutters">
            <div class="col l-7">
                <div class="grid__item">
                    <img src="/img/a-shop-logo-simply-store_11042313.png!f305cw" alt="" class="modal__authen-img">
                    <p class="modal__authen-text">Nền tảng thương mại điện tử</p>
                    <p class="modal__authen-text">yêu thích ở Đông Nam Á & Đài Loan</p>
                </div>
            </div>
            <div class="col l-5">
                <div class="grid__item">
                    <div class="modal__body">
                        <div class="modal__register">
                            <div class="modal__register-header">
                                <h3 class="modal__auth-heading">Đăng ký</h3>
                            </div>
                            <div class="modal__auth-form">
                                <input type="text" class="modal__auth-input" placeholder="Số điện thoại">
                                <div class="modal__auth-button">
                                    <button class="modal__auth-but">TIẾP THEO</button>
                                </div>
                            </div>
                            <div class="modal__auth-or">HOẶC</div>
                            <div class="modal__auth-or-button">
                                <button class="modal__auth-or-but">
                                    <img src="/img/Facebook-Logo.png" alt="" class="modal__auth-or-but-img">
                                    <p class="modal__auth-or-but-text">Facebook</p>
                                </button>
                                <button class="modal__auth-or-but">
                                    <img src="/img/Google__G__Logo.svg.png" alt="" class="modal__auth-or-but-img">
                                    <p class="modal__auth-or-but-text">Google</p>
                                </button>
                            </div>
                            <div class="modal__auth-rules">
                                <p class="modal__auth-rule-text">
                                    Bằng việc đăng kí, bạn đã đồng ý với Shopee về
                                    <a href="" class="modal__auth-rule-link">Điều khoản dịch vụ</a> &
                                    <a href="" class="modal__auth-rule-link">Chính sách bảo mật</a>
                                </p>
                            </div>
                            <div class="modal__register-footer">
                                <p class="modal__auth-footer-text">
                                    Bạn đã có tài khoản? 
                                    <label for="modal__log-checkbox" class="footer__link-log modal__auth-footer-link">Đăng nhập</label>
                                </p>
                            </div>
                        </div>
                    </div>
                    <label class="modal__auth-close-reg">
                        <i class="modal__auth-close-but fa-solid fa-left-long"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <!-- LogIn Form -->
    <div class="grid log__in-abs drift-login">
        <div class="row no-gutters">
            <div class="col l-7">
                <div class="grid__item">
                    <img src="/img/a-shop-logo-simply-store_11042313.png!f305cw" alt="" class="modal__authen-img">
                    <p class="modal__authen-text">Nền tảng thương mại điện tử</p>
                    <p class="modal__authen-text">yêu thích ở Đông Nam Á & Đài Loan</p>
                </div>
            </div>
            <div class="col l-5">
                <div class="grid__item">
                    <div class="modal__body">
                        <div class="modal__register">
                            <div class="modal__login-header">
                                <h3 class="modal__auth-heading">Đăng nhập</h3>
                                <div class="modal__login-qr-form">
                                    <div class="modal__login-qr modal__login-qr--arrow">
                                        <p class="modal__login-qr-heading">Đăng nhập với mã QR</p>
                                    </div>
                                    <a href="" class="modal__login-qr-link">
                                        <img src="/img/qr_icon.png" alt="" class="modal__login-qr-img">
                                    </a>
                                </div>
                            </div>
                            <div class="modal__auth-form">
                                <input type="text" class="modal__auth-input" placeholder="Email/Số điện thoại/Tên đăng nhập">
                                <input type="password" class="modal__auth-input" placeholder="Mật khẩu">
                                <div class="modal__auth-button">
                                    <button class="modal__auth-but">ĐĂNG NHẬP</button>
                                </div>
                                <div class="modal__auth-sub-title">
                                    <a href="" class="modal__auth-subtit">Quên mật khẩu</a>
                                    <a href="" class="modal__auth-subtit">Đăng nhập với SMS</a>
                                </div>
                            </div>
                            <div class="modal__auth-or">HOẶC</div>
                            <div class="modal__auth-or-button">
                                <button class="modal__auth-or-but">
                                    <img src="/img/Facebook-Logo.png" alt="" class="modal__auth-or-but-img">
                                    <p class="modal__auth-or-but-text">Facebook</p>
                                </button>
                                <button class="modal__auth-or-but">
                                    <img src="/img/Google__G__Logo.svg.png" alt="" class="modal__auth-or-but-img">
                                    <p class="modal__auth-or-but-text">Google</p>
                                </button>
                            </div>
                            <div class="modal__login-footer">
                                <p class="modal__auth-footer-text">
                                    Bạn mới biết đến Shopee?
                                    <label for="modal__log-checkbox" class="footer__link-reg modal__auth-footer-link">Đăng ký</label>
                                </p>
                            </div>
                        </div>
                    </div>
                    <label for="modal__log-checkbox" class="modal__auth-close-log">
                        <i class="modal__auth-close-but fa-solid fa-left-long"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!---->
<!-- End -->