<div class="modal__overlay"></div>
<!-- LogIn Form -->
<div class="grid log__in-abs">
    <div class="row no-gutters">
        <div class="col l-7">
            <div class="grid__item">
                <img src="/img/shopee-w.png" alt="" class="modal__authen-img">
                <p class="modal__authen-text">Nền tảng thương mại điện tử</p>
                <p class="modal__authen-text">yêu thích ở Đông Nam Á & Đài Loan</p>
            </div>
        </div>
        <div class="col l-5">
            <div class="grid__item">
                <div class="modal__body">
                    <div class="modal__register">
                        <div class="modal__login-header">
                            <h3 class="modal__auth-heading">Đăng nhập</h3>
                            <div class="modal__login-qr-form">
                                <div class="modal__login-qr modal__login-qr--arrow">
                                    <p class="modal__login-qr-heading">Đăng nhập với mã QR</p>
                                </div>
                                <a href="" class="modal__login-qr-link">
                                    <img src="/img/qr_icon.png" alt="" class="modal__login-qr-img">
                                </a>
                            </div>
                        </div>
                        <div class="modal__auth-form">
                            <input type="text" class="modal__auth-input" placeholder="Email/Số điện thoại/Tên đăng nhập">
                            <input type="password" class="modal__auth-input" placeholder="Mật khẩu">
                            <div class="modal__auth-button">
                                <button class="modal__auth-but">ĐĂNG NHẬP</button>
                            </div>
                            <div class="modal__auth-sub-title">
                                <a href="" class="modal__auth-subtit">Quên mật khẩu</a>
                                <a href="" class="modal__auth-subtit">Đăng nhập với SMS</a>
                            </div>
                        </div>
                        <div class="modal__auth-or">HOẶC</div>
                        <div class="modal__auth-or-button">
                            <button class="modal__auth-or-but">
                                <img src="/img/Facebook-Logo.png" alt="" class="modal__auth-or-but-img">
                                <p class="modal__auth-or-but-text">Facebook</p>
                            </button>
                            <button class="modal__auth-or-but">
                                <img src="/img/Google__G__Logo.svg.png" alt="" class="modal__auth-or-but-img">
                                <p class="modal__auth-or-but-text">Google</p>
                            </button>
                        </div>
                        <div class="modal__login-footer">
                            <p class="modal__auth-footer-text">
                                Bạn mới biết đến Shopee?
                                <a href="http://localhost:3000/register" class="modal__auth-footer-link">Đăng ký</a>
                            </p>
                        </div>
                    </div>
                </div>
                <label class="modal__auth-close-log">
                    <i class="modal__auth-close-but fa-solid fa-left-long"></i>
                </label>
            </div>
        </div>
    </div>
</div>