<!-- Register Form -->
<div class="modal__overlay"></div>
<!-- Register Form -->
<div class="grid log__in-abs">
    <div class="row no-gutters">
        <div class="col l-7">
            <div class="grid__item">
                <img src="/img/shopee-w.png" alt="" class="modal__authen-img">
                <p class="modal__authen-text">Nền tảng thương mại điện tử</p>
                <p class="modal__authen-text">yêu thích ở Đông Nam Á & Đài Loan</p>
            </div>
        </div>
        <div class="col l-5">
            <div class="grid__item">
                <div class="modal__body">
                    <div class="modal__register">
                        <div class="modal__register-header">
                            <h3 class="modal__auth-heading">Đăng ký</h3>
                        </div>
                        <div class="modal__auth-form">
                            <input type="text" class="modal__auth-input" placeholder="Số điện thoại">
                            <div class="modal__auth-button">
                                <button class="modal__auth-but">TIẾP THEO</button>
                            </div>
                        </div>
                        <div class="modal__auth-or">HOẶC</div>
                        <div class="modal__auth-or-button">
                            <button class="modal__auth-or-but">
                                <img src="/img/Facebook-Logo.png" alt="" class="modal__auth-or-but-img">
                                <p class="modal__auth-or-but-text">Facebook</p>
                            </button>
                            <button class="modal__auth-or-but">
                                <img src="/img/Google__G__Logo.svg.png" alt="" class="modal__auth-or-but-img">
                                <p class="modal__auth-or-but-text">Google</p>
                            </button>
                        </div>
                        <div class="modal__auth-rules">
                            <p class="modal__auth-rule-text">
                                Bằng việc đăng kí, bạn đã đồng ý với Shopee về
                                <a href="" class="modal__auth-rule-link">Điều khoản dịch vụ</a> &
                                <a href="" class="modal__auth-rule-link">Chính sách bảo mật</a>
                            </p>
                        </div>
                        <div class="modal__register-footer">
                            <p class="modal__auth-footer-text">
                                Bạn đã có tài khoản? 
                                <a href="http://localhost:3000/home" class="modal__auth-footer-link">Đăng nhập</a>
                            </p>
                        </div>
                    </div>
                </div>
                <label class="modal__auth-close-reg">
                    <i class="modal__auth-close-but fa-solid fa-left-long"></i>
                </label>
            </div>
        </div>
    </div>
</div>